# Compiled test binaries
test_01_fd_smuggling
test_02_dirty_pipe
test_03_abstract_socket
test_04_proc_self_mem
test_05_mmap_shared
test_06_scm_rights
test_07_futex_covert
test_08_ld_preload
test_09_renameat2_toctou
test_10_compound_attack
test_11_io_uring
test_12_msg_oob
test_13_userfaultfd
test_14_cross_cache
test_15_cgroup_escape
test_16_netfilter
test_17_vsock
test_18_procfs_race
test_19_ebpf
test_20_landlock
test_21_memfd_secret
test_22_keyctl
test_23_watch_queue
test_24_splice_tee
test_25_tty_pushback
test_26_process_vm
test_27_handle_ops
test_28_credential_spoof
test_29_fanotify_inotify
test_30_misc_kernel
test_31_signalfd_sigsys
test_32_mprotect_timing
test_33_posix_timer
test_34_prctl_audit
test_35_resource_limits
test_36_broker_ipc
test_37_socket_options
test_38_fuse_access
test_39_nested_namespace
test_40_syscall_enum
test_41_open_flags
