# Compiled test binaries
test_01_fd_smuggling
test_02_dirty_pipe
test_03_abstract_socket
test_04_proc_self_mem
test_05_mmap_shared
test_06_scm_rights
test_07_futex_covert
test_08_ld_preload
test_09_renameat2_toctou
test_10_compound_attack
test_11_io_uring
test_12_msg_oob
test_13_userfaultfd
test_14_cross_cache
test_15_cgroup_escape
test_16_netfilter
test_17_vsock
test_18_procfs_race
test_19_ebpf
test_20_landlock
test_21_memfd_secret
test_22_keyctl
test_23_watch_queue
test_24_splice_tee
test_25_tty_pushback
test_26_process_vm
test_27_handle_ops
test_28_credential_spoof
test_29_fanotify_inotify
test_30_misc_kernel
test_31_signalfd_sigsys
test_32_mprotect_timing
test_33_posix_timer
test_34_prctl_audit
test_35_resource_limits
test_36_broker_ipc
test_37_socket_options
test_38_fuse_access
test_39_nested_namespace
test_40_syscall_enum
test_41_open_flags
test_42_timerfd_signalfd_abuse
test_43_kcmp_proc_leak
test_44_memfd_exec
test_45_pipe_buffer_exploit
test_46_seccomp_notify
test_47_rlimit_escape
test_48_network_raw
test_49_covert_channels
test_50_pidfd_getfd
test_51_new_mount_api
test_52_mseal_bypass
test_53_dirty_pagetable
test_54_listmount_statmount
test_55_process_madvise
test_56_shadow_stack
test_57_userns_capability
test_58_io_uring_advanced
test_59_clone3_flags
test_60_cachestat_lsm
test_61_close_range_epoll2
test_62_speculative_sidechan
test_63_landlock_v4
test_64_device_ioctl
test_65_sysctl_sysfs
test_66_kcfi_cfi_bypass
test_67_nftables_netlink
test_68_rseq_personality
test_69_sysv_ipc
test_70_ptrace_attacks
test_71_af_alg_crypto
test_72_setns_nsenter
test_73_ioperm_sched
test_74_xattrat_new
test_75_kernel_timing_leak
test_76_wrgsbase_cfi
test_77_io_uring_deep
test_78_cachestat_sidechan
test_79_landlock_bypass
test_80_futex2_covert
